.header {
  flex: 0 0 auto;
  background: var(--color-white);
  border-bottom: 1px solid var(--color-border);

  &__container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }

  &__top {
    background: var(--color-dark);
    color: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;

    &:before {
      content: '';
      background: var(--color-dark);
      left: -3000px;
      right: -3000px;
      top: 0;
      bottom: 0;
      position: absolute;
      z-index: 0;
    }

    & > * {
      position: relative;
      z-index: 1;
    }

    &-menu {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex: 1 1 auto;

      & > li {
        flex: 0 0 auto;
        padding: 0;
        margin-right: var(--margin);
        display: inline-block;

        &:last-of-type {
          margin-right: 0;
        }

        &.uk-active a {
          color: var(--color-white);
        }
      }

      & a {
        line-height: 56px;
        display: block;
        color: var(--color-header);
        font-family: Roboto, sans-serif;
        transition: color var(--transition);

        &:hover,
        &:focus {
          color: var(--color-white);
        }
      }
    }

    &-language {
      font-size: var(--text-small);
      font-weight: 500;
      padding-left: 24px;
      padding-right: 9px;
    }

    &-language-icon {
      // font-size: 12px;
    }

    &-language-dropdown {
      min-width: 0px;

      & a {
        line-height: var(--line-height);
      }
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    padding: 0;
    box-sizing: content-box;
    align-items: center;

    height: 63px;
    margin: 0;

    background-color: var(--color-white);
    transition: padding var(--transition);

    @media (min-width: $breakpoint-small) {
      padding: 0;
      height: 95px;
    }

    @media (min-width: $breakpoint-medium) {
      padding: var(--margin-2) 0 16px;
      height: 56px;
      align-items: flex-start;
    }

    &.uk-active {
      z-index: 990;
      border-bottom: 1px solid var(--color-border);

      @media (min-width: $breakpoint-medium) {
        padding: 20px 0 12px;
      }
    }
  }

  &__logo {
    flex: 0 0 75px;
    margin-right: var(--margin-2);

    @media (min-width: $breakpoint-small) {
      flex: 0 0 100px;
      margin-right: var(--margin);
    }

    @media (min-width: $breakpoint-medium) {
      flex: 0 0 116px;
      margin-right: var(--margin);
      margin-top: -8px;
      line-height: 60px;
    }

    .header__main.uk-active & {
      @media (min-width: $breakpoint-medium) {
        flex-basis: 100px;
      }
    }

    & img {
      transition: width var(--transition);

      .header__main.uk-active & {
        width: 84px;
        line-height: 60px;
      }
    }
  }

  &__description {
    flex: 0 0 auto;
    width: 210px;
    font-size: var(--text-small);
    line-height: 16px;
    margin-right: 29px;
    font-family: 'Roboto', sans-serif;
    margin-top: -1px;
    margin-left: -1px;
    transition: all 0.2s var(--transition);
    overflow: hidden;

    &-inner {
      width: 210px;
    }

    .header__main.uk-active & {
      width: 0;
      margin-right: 0;
    }
  }

  &__nav {
    background-color: var(--color-white);

    &.uk-active {
      border-bottom: 1px solid var(--color-border);
      z-index: 981;
    }
  }

  &__nav-menu {
    margin: 0;
    margin-bottom: -1px;

    & > li {
      display: inline-block;
      margin-right: var(--margin);

      @media (min-width: $breakpoint-large) {
        flex: 0 0 100px;
        margin-right: 44px;
      }

      &.uk-active a:after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 4px;
        background: var(--color-black);
      }

      &:last-of-type {
        margin-right: 0;
      }

      & > a {
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-size: var(--text-small);
        font-weight: 500;
        letter-spacing: 0.05em;
        padding: 0;
        line-height: calc(var(--font-size) * 4);
        margin-right: var(--margin-2);
        position: relative;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  &__search {
    flex: 1 1 auto;
    position: relative;
    // margin-right: var(--margin-2);

    &-form {
    }

    &-results {
      // position: absolute;
      left: 0;
      right: 0;
      box-sizing: border-box;
      top: calc(100% + 6px);
      box-shadow: var(--box-shadow);
      background-color: var(--color-white);
      padding: 26px 43px;
      z-index: 20;

      // opacity: 0;
      // visibility: hidden;
      // transform: translateY(-20px);
      transition: all var(--transition);

      &--show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
      &--hide {
        position: absolute;
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &__phone {
    flex: 0 0 160px;
    margin-left: var(--gutter);
    margin-top: 4px;

    &-phone {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: var(--text-large);
      font-weight: bold;
      margin-bottom: 3px;
      line-height: 19px;
      letter-spacing: 0.01em;

      & a {
        color: var(--color-black);

        &:hover {
          opacity: 0.7;
        }
      }
    }

    &-callback {
      margin-left: 3px;
    }

    &-small {
      margin-right: 20px;

      &-link {
        font-size: 27px;
        line-height: 36px;
        padding: 0 6px;
        position: relative;
        bottom: -1px;
      }
    }
  }

  &__offcanvas {
    flex: 1 0 auto;
    margin-left: var(--gutter-large);
    justify-content: flex-end;
    display: flex;

    @media (min-width: $breakpoint-small) {
      flex-grow: 0;
    }
  }

  &__offcanvas-toggle {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background 0.2s ease;
    right: 0;
    top: 0;

    html.uk-modal-page .offcanvas-toggle {
    }
    html.uk-modal-page body.page-main header.panel {
      z-index: auto; /* fix z-index for navbar-toggle */
    }

    &-link {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: content-box;
      width: 32px;
      height: 32px;
      left: 0;
      top: 0;

      transform: rotate(180deg);
      transition: all 0.3s ease 0s;

      &:hover {
        text-decoration: none;
        opacity: 0.7;
      }

      & span {
        display: inline-block;
        position: relative;
        left: 0;
        height: 3px;
        background: var(--color-accent);
        width: 32px;
        vertical-align: middle;
        // margin-top: -4px;

        transition: width 0.1s 0.3s, background 0.1s 0.3s;

        &:before,
        &:after {
          position: absolute;
          display: block;
          left: 0;
          width: 100%;
          height: 3px;
          background-color: var(--color-accent);
          content: '';

          transition-duration: 0.3s, 0.3s;
          transition-delay: 0.3s, 0s;
        }

        &:before {
          top: -9px;
          transition-property: top, transform;
        }

        &:after {
          bottom: -9px;
          transition-property: bottom, transform;
        }
      }
    }
  }

  &__offcanvas-search {
    flex: 0 0 auto;
    margin-right: 20px;
    display: flex;
    align-items: center;
    margin-top: 1px;

    &-link {
      display: block;
      padding: 0 6px;

      &:before {
        font-family: icomoon;
        content: '\e904';
        font-size: 20px;
        line-height: 32px;
      }
    }
  }
}
