.slideshow-main {
  &__wrapper {
    transition: transform 0.8s cubic-bezier(0.65, 0.02, 0.34, 1) 0.2s !important;
  }

  &__items {
    &--main {
      height: 536px;
    }
  }

  &__item {
    height: calc(var(--margin) * 16.5);
    overflow: hidden;

    @media (min-width: $breakpoint-small) {
      height: 536px;
    }

    & img {
      width: 100%;
      height: calc(100% + 100px); //parallax
      object-fit: cover;

      @include object-fit-ie(cover, center);
    }
  }
}

.index-banners {
  &__grid {
    margin-top: var(--gutter);
    align-items: flex-end;

    /*
    display: grid;
    grid-template-areas:
      "slideshow zhopa zhopa"
      "slideshow large large"
      "large-2 large large"
      "large-2 small-1 small-2";

    //TODO calc row heights

    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 136px 208px 80px 208px;
    grid-column-gap: var(--gutter-large);
    grid-row-gap: var(--gutter-large);

    @media (min-width: $breakpoint-small) {

    }

    @media (min-width: $breakpoint-medium) {

    }
    */ // Not working until swiper correctly working with grids

    &-column + &-column {
      margin-top: var(--gutter);

      @media (min-width: $breakpoint-small) {
        margin-top: var(--gutter);
      }
      @media (min-width: $breakpoint-medium) {
        margin-top: 0;
      }
    }
  }

  &__slideshow {
    margin-top: calc(var(--margin) * -5);
    background: var(--color-light);
    position: relative;
    z-index: 1;

    // grid-area: slideshow;
    // width: 500px;

    @media (min-width: $breakpoint-medium) {
      margin-top: calc(var(--margin) * -6);
    }
  }

  &__slideshow-items {
    // height: 0;
    // padding-bottom: 70%;

    /* @media (min-width: $breakpoint-small) {
			padding-bottom: 50%;
		}

		@media (min-width: $breakpoint-medium) {
			padding-bottom: 60%;
		} */
  }
}

.index-banner {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 152px;
  box-sizing: border-box;
  margin: 0;
  background: #ccc;
  transition: box-shadow 0.6s cubic-bezier(0.65, 0.02, 0.34, 1) 00s;
  // overflow: hidden;

  @media (min-width: $breakpoint-small) {
    padding-bottom: 300px;
  }

  @media (min-width: $breakpoint-medium) {
    padding-bottom: 328px;
  }

  &__bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    background-color: var(--color-light);
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: block;
      background: rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    & > img {
      object-fit: cover;
      width: 100%;
      height: calc(100% + #{$parallax-height});

      @include object-fit-ie(cover, center);
    }
  }

  &__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: calc(var(--gutter-large) / 2);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    // width: 100%;

    @media (min-width: $breakpoint-small) {
      padding: 45px var(--gutter-large) var(--margin) var(--gutter-large);
    }
    @media (min-width: $breakpoint-small) {
      padding: 45px var(--gutter-large) var(--margin) var(--gutter-large);
    }
  }

  &__top {
    font-family: Roboto, sans-serif;
    font-size: var(--text-small);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.05em;
    flex: 0 0 auto;
  }

  &__title {
    font-family: 'Roboto Condensed';
    font-size: 1.429rem;
    line-height: 1.143;
    letter-spacing: 0.01em;
    font-weight: 700;

    flex: 1 0 auto;
    color: var(--color-white);
    z-index: 2;

    transition: color var(--transition);

    @media (min-width: $breakpoint-small) {
      font-size: 2rem;
      // line-height: 2.286rem;
    }

    &:hover {
      color: var(--color-white);
    }

    &--black {
      color: var(--color-black);
    }
  }

  &__readmore {
    flex: 0 0 auto;

    color: var(--color-white);
    display: flex;
    align-items: center;

    @media (min-width: $breakpoint-small) {
      margin-left: calc(var(--margin) - var(--gutter-large));
    }
    @media (min-width: $breakpoint-medium) {
      margin-left: 0;
    }

    &--text &-text {
      max-width: none;
      color: var(--color-accent);
    }

    &--text &-icon {
      color: var(--color-accent);

      &:after {
        display: none;
      }
    }

    &-text {
      background-color: transparent;
      width: auto;
      height: auto;
      font-family: 'Roboto Condensed', sans-serif;
      color: var(--color-white);
      font-size: var(--font-size);
      text-align: left;
      max-width: 0;
      overflow: hidden;
      transition: max-width 0.3s ease 0.2s, color 0.3s ease;
      z-index: 1;
      position: relative;

      @media (min-width: $breakpoint-small) {
        font-size: var(--text-large);
      }
    }

    &-icon {
      $readmore-icon-size: 40px;

      color: var(--color-white);
      width: $readmore-icon-size;
      height: $readmore-icon-size;
      line-height: $readmore-icon-size;
      text-align: center;
      position: relative;
      z-index: 0;
      transition: color 0.3s ease;

      &:before {
        content: '\e901';
        font-family: icomoon;
        position: absolute;
        width: $readmore-icon-size;
        height: $readmore-icon-size;
        left: 0;
        z-index: 1;
      }
      &:after {
        content: '';
        background-color: var(--color-accent);
        position: absolute;
        width: $readmore-icon-size;
        height: $readmore-icon-size;
        left: 0;
        opacity: 1;
        transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-delay: 0.2s;
      }
    }

    &__link {
      z-index: 2;
    }
  }

  &:hover {
    transition-delay: 0.4s;
    box-shadow: var(--box-shadow);
  }

  &--first:hover &__title {
    color: var(--color-accent);
  }

  &:hover &__readmore-text {
    max-width: 150px;
    // color: var(--color-accent-light);
    color: var(--color-white);
  }

  &:hover &__readmore-icon {
    color: var(--color-white);
  }

  &--first:hover &__readmore-text {
    color: var(--color-accent-light);
  }
  &--first:hover &__readmore-icon {
    color: var(--color-accent-light);
  }

  &:hover &__readmore-icon:after {
    transform: scale(24);
    opacity: 0.5;
    transition: all 0.2s ease-in;

    // transition-delay: 0.15s;
  }

  &__link {
    z-index: 3;
  }

  //modifiers

  &--first {
    // height: 100%;
    // padding-top: calc(var(--margin) * 2);
    padding-bottom: 0;
    height: 100%;

    @media (min-width: $breakpoint-small) {
      padding-bottom: 0;
    }

    @media (min-width: $breakpoint-medium) {
      padding-bottom: 344px;
    }

    & .index-banner__bg:before {
      display: none;
    }

    & .index-banner__content {
      position: relative;
      height: 100%;
      padding-top: calc(var(--margin) * 2);

      @media (min-width: $breakpoint-small) {
        padding-top: var(--gutter-large);
      }
      @media (min-width: $breakpoint-medium) {
        position: absolute;
      }
    }

    & .index-banner__top {
      margin-bottom: calc(var(--gutter) * 3);

      @media (min-width: $breakpoint-small) {
        margin-bottom: calc(var(--gutter) * 1.5);
      }

      @media (min-width: $breakpoint-medium) {
        margin-bottom: 57px;
      }
    }
    & .index-banner__title {
      @media (min-width: $breakpoint-medium) {
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: calc(2rem * 1.2 * 5);
      }
    }
    & .index-banner__readmore {
      @media (min-width: $breakpoint-small) {
        margin-left: 0;
      }
    }
  }

  // &--large {
  //   grid-area: large;
  // }
  // &--large-2 {
  //   grid-area: large-2;
  // }

  &--small {
    // &-1 {
    //   grid-area: small-1;
    // }

    // &-2 {
    //   grid-area: small-2;
    // }

    @media (min-width: $breakpoint-small) {
      padding-bottom: 300px;
    }
    @media (min-width: $breakpoint-medium) {
      padding-bottom: 208px;
    }

    & .index-banner__content {
      padding: calc(var(--gutter-large) / 2);

      @media (min-width: $breakpoint-small) {
        padding: 45px var(--gutter-large) var(--margin) var(--gutter-large);
      }
      @media (min-width: $breakpoint-medium) {
        padding: 33px var(--gutter-medium) var(--margin);
      }
    }

    & .index-banner__title {
      font-size: 1.429rem;
      margin-left: -3px;

      @media (min-width: $breakpoint-small) {
        font-size: 2rem;
      }
      @media (min-width: $breakpoint-medium) {
        font-size: 1.571rem;
        line-height: 2rem;
        // line-height: 1.714rem;
      }
    }
  }

  &:not(.index-banner--small):not(.index-banner--first)
    .index-banner__readmore {
    @media (min-width: $breakpoint-medium) {
      // margin-left: calc(var(--margin) - var(--gutter-large));
      // line-height: 1.714rem;
    }
  }
}

.slideshow-banner {
  &__item {
    transition-property: transform, opacity;
    height: auto;

    &.swiper-slide-active {
      z-index: 1;
    }
  }

  &__nav {
    position: absolute;

    z-index: 1;
    display: flex;
    top: calc(var(--margin) * 1.25);
    right: calc(var(--gutter) * 1.25);

    @media (min-width: $breakpoint-small) {
      top: calc(var(--margin) * 1.1667);
      right: calc(var(--gutter-medium) * 1.107);
    }
  }
}

// common slideshow styles
.slideshow {
  &__nav {
    width: var(--gutter-large);
    height: var(--gutter-large);
    flex: 0 0 auto;
    line-height: var(--gutter-large);
    display: inline-block !important;
    visibility: visible !important;
    position: relative;
    border: 1px solid var(--color-accent);
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    color: var(--color-accent);
    font-weight: bold;
    transition: border-color var(--transition), color var(--transition);
    z-index: 1;

    &:before {
      transform: rotate(45deg) translateY(-5.5px);
    }

    &:after {
      transform: rotate(-45deg) translateY(5.5px);
    }

    &:hover {
      border-color: var(--color-accent);
      color: var(--color-white);
      background-color: var(--color-accent);
    }

    &:focus {
      border-color: var(--color-accent);
      // outline: 1px solid var(--color-accent);
    }

    &_left {
      margin-right: -1px;
      &:before,
      &:after {
        left: auto;
        right: 32%;
      }

      &:before {
        transform: rotate(45deg) translateY(5.5px);
      }

      &:after {
        transform: rotate(-45deg) translateY(-5.5px);
      }
    }

    &.swiper-button-disabled,
    &.uk-invisible {
      border-color: var(--color-border);
      color: var(--color-border);
      cursor: default;
      z-index: 0;

      &:hover {
        border-color: var(--color-border);
        background-color: transparent;
        color: var(--color-border);
      }
    }
  }

  $count-lh: 36px;

  &__count {
    display: flex;
    align-items: center;
    font: 400 28px 'Roboto Condensed', sans-serif;
    line-height: $count-lh;
    margin-right: 18px;

    @media (min-width: $breakpoint-small) {
    }

    @media (min-width: $breakpoint-medium) {
    }

    @media (min-width: $breakpoint-large) {
      display: flex;
    }

    &-current {
      position: relative;
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 20px;
      height: $count-lh;
      text-align: right;

      & li {
        counter-increment: slide-counter;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;

        &:before {
          content: counter(slide-counter);
        }

        &.uk-active {
          opacity: 1;
        }
      }
    }
  }
}

.competence {
  overflow: visible; // bg to the edges

  //grid
  // background: -webkit-linear-gradient(top,#0ff 0,rgba(255,255,255,0)1px);
  // background-repeat: repeat-y;
  // background-size: 100% 1rem;

  @media (min-width: $breakpoint-medium) {
    overflow: hidden;
  }

  &__grid {
    display: grid;
    grid-template-areas:
      'list image'
      'content content';

    // grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--margin);
    grid-row-gap: $global-gutter;

    @media (min-width: $breakpoint-small) {
      grid-template-areas:
        'list list'
        'content image';
      grid-template-columns: 2fr 1fr;

      grid-row-gap: $global-medium-gutter;
    }

    @media (min-width: $breakpoint-medium) {
      grid-template-areas:
        'list image'
        'content image';
      grid-template-columns: 2fr 1fr;

      grid-gap: var(--margin);
    }
  }

  &__list {
    grid-area: list;
    margin-bottom: 17px;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: $breakpoint-small) {
      flex-wrap: nowrap;
      flex-direction: row;
      // margin-bottom: var(--margin-2);
    }
  }

  &__content {
    grid-area: content;
    padding: calc(var(--margin) * 2 * 1.1667) calc(var(--margin) * 1.25)
      calc(var(--margin) * 1.5) calc(var(--margin) * 1.25);
    // background: var(--color-light);
    position: relative;
    margin-top: -$global-gutter;
    font-size: var(--font-size);
    line-height: 1.5;
    margin-left: $container-padding-horizontal * -1;
    margin-right: $container-padding-horizontal * -1;

    @media (min-width: $breakpoint-small) {
      font-size: var(--text-large);
      padding: 54px var(--margin-2) 42px var(--margin-2);

      margin-top: 0;
      margin-left: 0;
      margin-top: 0;
    }

    & > * {
      position: relative;
      z-index: 1;
    }

    &:after {
      content: '';
      position: absolute;
      left: -1000px;
      bottom: 0;
      right: -1000px;
      height: 100%;
      background: var(--color-light);
      display: block;
      z-index: 0;
    }

    &-text {
      @media (min-width: $breakpoint-medium) {
        margin-bottom: 63px;
      }
    }

    &-link {
    }
  }

  &__image {
    grid-area: image;
    position: relative;
    text-align: center;
    margin-top: calc(var(--margin) * -2);
    margin-left: calc(var(--margin) * -1);

    @media (min-width: $breakpoint-small) {
      margin-top: calc(var(--margin) * -2);
      margin-left: 0;
    }

    @media (min-width: $breakpoint-medium) {
    }

    & img {
      position: absolute;
      object-position: bottom;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;

      @include object-fit-ie(contain, bottom);
    }
  }

  &__item {
    color: var(--color-accent);
    font-family: Roboto, sans-serif;
    flex: 0 0 0;

    &-number {
      font-size: 3.42rem;
      font-weight: 100;
      letter-spacing: 0.01em;
      line-height: 0.857em;
      margin-bottom: 0.5rem;

      @media (min-width: $breakpoint-small) {
      }
      @media (min-width: $breakpoint-medium) {
        font-size: 3.42rem;
      }
      @media (min-width: $breakpoint-large) {
        font-size: 4rem;
      }
    }

    &-text {
      font-size: var(--text-small);
      line-height: 1.667;
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }
  }
}

.link--readmore {
  font-family: 'Roboto Condensed';
  font-size: var(--font-size);

  @media (min-width: $breakpoint-small) {
    font-size: var(--text-large);
  }
}

.clients {
  position: relative;
  padding: 0 0 var(--margin-3) 0;

  &:before {
    content: '';
    position: absolute;
    background: var(--color-light);
    top: 0;
    right: -2000px;
    bottom: 0;
    left: -2000px;
    z-index: 0;
  }

  &__title {
    @media (min-width: $breakpoint-small) {
    }
    @media (min-width: $breakpoint-medium) {
    }
    @media (min-width: $breakpoint-large) {
    }
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  &__slider {
  }

  &__slider-container {
    @media (min-width: $breakpoint-small) {
      padding: calc(var(--gutter) + 10px) var(--gutter);
      margin: calc((var(--gutter) + 10px) * -1) calc(var(--gutter) * -1);
    }

    padding: calc(var(--gutter-large) + 10px) var(--gutter-large);
    margin: calc((var(--gutter-large) + 10px) * -1)
      calc(var(--gutter-large) * -1);
  }

  &__nav {
    position: absolute;
    right: 0;
    top: calc(var(--gutter-large) * -0.575);

    @media (min-width: $breakpoint-small) {
      top: calc(var(--gutter-large) * -1 + 2px);
    }
  }
}

.client {
  &__item {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    padding: var(--gutter-large) var(--gutter-small)
      calc(var(--gutter-small) * 1.5) var(--gutter-small);
    box-sizing: border-box;
    height: 100%;
    background: #fff;

    transition: box-shadow var(--transition);

    &:hover {
      // box-shadow: var(--box-shadow);
    }
  }

  &__image {
    margin-bottom: var(--margin);
    flex: 1 0 auto;
    padding: 0 11px;
    width: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
      max-height: 87px;

      @include object-fit-ie(contain, center);
    }
  }

  &__name {
    text-align: center;
    flex: 0 0 auto;
    font-family: 'PT Sans', sans-serif;
    font-size: var(--font-size);

    width: 100%; //ie11
  }
}
