.section {


	&__header {
		position: relative;
		border-bottom: 1px solid var(--color-border);
	}

	&__background {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 0;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__header-content {
		position: relative;
		z-index: 1;
		
	}

	&__header-info {
		padding-bottom: calc(var(--margin-2) - 6px);
	}

	&__title {
		margin-bottom: 1.786rem;

	}

	&__description {
		font-size: 16px;
		// line-height: 32px;
		margin-bottom: 4.426rem;

		@media (min-width: $breakpoint-small) {
			font-size: 18px;
			line-height: 2rem;
		}
	}

	&__files {
		margin-bottom: var(--margin-2);

		&:last-child {
			margin-bottom: 0;
		}
	}



	&__image-wrap {
		height: 100%;
		position: relative;
	}

	&__image {

    position: absolute;
    height: 100%;
    overflow: hidden;

		& img {
			padding-top: 56px;
			height: 100%;
			width: 100%;
			object-fit: contain;
			object-position:bottom;
		}
	}

	&__items {
		margin-bottom: var(--margin-3);

		&-title-wrap {
			position: relative;
			display: flex;
			align-items: baseline;
			margin-bottom: 3rem ;
		}

		&-title {
			flex: 1 1 auto;
			margin-bottom: 0;
		}

		&-filter-link {
			flex: 0 0 auto;
		}



		&-pagination {
			margin-top: var(--margin);
		}

	}



	&__items-wrap {
		// margin-top: var(--margin-3);
		margin-bottom: var(--margin-2);

		&:last-child {
			margin-bottom: 0;
		}
	}


	&__items-list {
		list-style-type:none;
		padding: 0;
		margin: 0;

		& > *:last-of-type {
			margin-bottom: 0 !important;
		}
	}


	&__item {
		background:var(--color-light);
		$item-padding-bottom: 29px; //move item image to botton
		padding: 18px 20px $item-padding-bottom;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: var(--margin);
		transition: all var(--transition);
		position: relative;

		@media (min-width: $breakpoint-small) {
			flex-wrap:nowrap;
			padding: 28px;
		}

		&:hover,
		&:focus {
			background-color: var(--color-white);
			box-shadow: var(--box-shadow);

			& .section__item-name a {
				color:var(--color-accent);
				text-decoration: underline;
				text-decoration-color: rgba(0,116,211, 0.2);
			}
		}

		&-props {
			order: 1;
			flex: 1 0 50%;
			display:flex;
			flex-direction:column;
			justify-content: flex-end;
			

			@media (min-width: $breakpoint-small) {
				order:0;
				flex: 0 0 16.5%;
				min-width: 148px;
				padding-right: var(--gutter);
				justify-content: space-between;
			}
			@media (min-width: $breakpoint-medium) {
				min-width: 172px;
			
			}
		}

		&-type {
			text-transform: uppercase;
			flex: 0 0 auto;
			font-family: Roboto, sans-serif;
			font-size: 10px;
			color: rgba(0,0,0,0.6);


			@media (min-width: $breakpoint-small) {
				font-size: 0.714rem;
				line-height: 1.143rem;
				margin-bottom: 2px;
			}
			@media (min-width: $breakpoint-medium) {
				font-size: var(--text-small);
				line-height: 1.375;
				margin-bottom: 5px;
			}
		}

		&-id {
			font-family: 'Roboto Condensed',sans-serif;
			font-weight: 700;
			font-size: var(--font-size);
			line-height: 1.375;
			flex: 0 0 auto;
			margin-bottom: 2px;

			@media (min-width: $breakpoint-small) {
				flex: 1 0 auto;
				font-size: var(--text-large);
				line-height: 1.5;
				margin-bottom: 0;
			}
			@media (min-width: $breakpoint-medium) {
				font-size: $base-h3-font-size;
				line-height: 1.2;
				margin-bottom: 0;
			}
		}

		&-skmtr {
			flex: 0 0 auto;
			font-family: Roboto, sans-serif;
			font-size: 10px;
			color: rgba(0,0,0,0.6);
			letter-spacing: 0.05em;
			text-transform: uppercase;
			margin-bottom: -9px;

			@media (min-width: $breakpoint-small) {
				font-size: 0.714rem;
			margin-bottom: -7px;
				
			}
			@media (min-width: $breakpoint-medium) {
				font-size: var(--text-small);
				margin-bottom: -9px;
			
			}

		}

		&-name {
			flex: 1 0 100%;
			margin-bottom: var(--margin);
			margin-top: 2px;
			font-size: var(--text-small);
			line-height: 18px;

			@media (min-width: $breakpoint-small) {
				margin-bottom:0;
				flex: 1 1 50%;
				font-size: var(--font-size);
				line-height: 1.571rem;
				margin-top: 3px;

				padding-right: var(--gutter);
			}
			@media (min-width: $breakpoint-medium) {
				font-size: var(--text-large);
				line-height: 1.5;
				margin-top: 2px;
			}

			& a {
				color: var(--color-black);
				text-decoration-color: rgba(0,116,211, 0.0);
				text-underline-offset: 4px;
				transition: all var(--transition);

				&:hover,
				&:focus {
					color:var(--color-accent);
					text-decoration: underline;
					text-decoration-color: rgba(0,116,211, 0.2);
				}
			}
			
		}

		&-image {
			flex: 0 0 50%;
			mix-blend-mode: multiply;
			order: 3;
			margin-bottom: -$item-padding-bottom;
			

			@media (min-width: $breakpoint-small) {
				flex: 0 0 30%;
				padding-top: 20px;
				padding-right: 20px;
				margin: -28px;
			}

			& img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: bottom right;
				max-height: 133px;

				@media (min-width: $breakpoint-small) {
					max-height: 160px;
				}
			}
		}

		&-cover {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 1;
		}
	}


	&__sidebar {
		margin-bottom: 50px !important;
	}

	&__filter {
		margin-bottom: 36px;
	}

	&__sidebar-panel {
		padding: 29px 24px 32px 24px;
		box-shadow: var(--box-shadow);

		& > *:first-child {
			margin-top: 0;
		}
		& > *:last-child {
			margin-bottom: 0;
		}

		& > h3 {
			margin-bottom: 11px;
		}

		& > p {
			margin-top: 11px;
			line-height: 1.429rem;
			margin-bottom: 20px;
		}
	}

	&__sections {
		list-style-type:none;
		padding: 0;
	}

	&__footer {
		margin-top: var(--margin-3);
		margin-bottom: var(--margin-3);
	}
}


.filter {

	&__items {
		margin-bottom: 2px;

		@media (min-width: $breakpoint-medium) {
			margin-bottom: var(--margin-m);
		}


	}

	&__item {
		background: var(--color-light);
	}

	&__name {
		padding: var(--gutter-medium) var(--gutter-large);
		font-size: 18px;
		line-height: 24px;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 700;

		&:before {
			content: '\e903';
			font-family: icomoon;
			font-weight: normal;
			transition: transform var(--transition);
			text-align: center;

			.uk-open > & {
				transform: rotate(180deg);
			}
		}

		@media (min-width: $breakpoint-medium) {
			padding: var(--gutter-medium) var(--margin-m);
		}
	}
	&__params {
		padding: 0 var(--gutter-large) var(--gutter-large) var(--gutter-large);

		@media (min-width: $breakpoint-medium) {
			padding: 0 var(--gutter-medium) var(--margin-m) var(--gutter-medium);
		}
	}

	&__param-row {
		margin-bottom: 15px;
	}

	&__param {
		position: relative;
    padding-left: 25px;
    display:block;

		&:hover {
			cursor: pointer;
		}

		& input {
			position: absolute;
			left: 0;
			border-radius: 2px;
			background: var(--color-white);

			&:checked {
				border:none;
			}
		}
	}

	&__apply {
		margin-bottom: 18px;
	}

	&__row {
		background: var(--color-light);
		padding: var(--gutter-medium) var(--gutter-large);
	}


}