.sitemap {
    margin-bottom: var(--margin-3);

    &__section {
        
        &-title {

            & a {
                color: var(--color-black);

                &:hover, &:focus {
                    color: var(--color-accent);
                }
            }
        }
        // columns: 2;
        &-list {

            & > div {
                overflow: auto; // fix collapsed margin issue
            }
        }
    }

    &__subsection {
        page-break-inside: avoid;
        break-inside: avoid;

        &-title {
            
            & a {
                color: var(--color-black);

                &:hover, &:focus {
                    color: var(--color-accent);
                }
            }
        }
    }

    &__subsection-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        page-break-inside: avoid;
        break-inside: avoid;

        & li {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}