
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('../fonts/subset-Roboto-Thin.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Thin.woff') format('woff'),
        url('../fonts/subset-Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('../fonts/subset-Roboto-Light.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Light.woff') format('woff'),
        url('../fonts/subset-Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto.woff2') format('woff2'), url('../fonts/Roboto.woff') format('woff'), url('../fonts/Roboto.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Robotomedium.woff2') format('woff2'), url('../fonts/Robotomedium.woff') format('woff'), url('../fonts/Robotomedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/Robotobold.woff2') format('woff2'), url('../fonts/Robotobold.woff') format('woff'), url('../fonts/Robotobold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: local('Roboto Condensed'), local('RobotoCondensed'), url('../fonts/Robotocondensed.woff2') format('woff2'), url('../fonts/Robotocondensed.woff') format('woff'), url('../fonts/Robotocondensed.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Condensed';
	src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url('../fonts/Robotocondensedbold.woff2') format('woff2'), url('../fonts/Robotocondensedbold.woff') format('woff'), url('../fonts/Robotocondensedbold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src: local('PT Sans'), local('PTSans-Regular'), url('../fonts/ptsans.woff2') format('woff2'), url('../fonts/ptsans.woff') format('woff'), url('../fonts/ptsans.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?qvtaxo');
  src:  url('../fonts/icomoon.eot?qvtaxo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qvtaxo') format('truetype'),
    url('../fonts/icomoon.woff?qvtaxo') format('woff'),
    url('../fonts/icomoon.svg?qvtaxo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left:before {
  content: "\e900";
}
.icon-chevron-right:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e902";
}
.icon-arrow-down-small:before {
  content: "\e903";
}
