.section {


	&__header {
		position: relative;
		border-bottom: 1px solid var(--color-border);
	}

	&__background {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 0;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__header-content {
		position: relative;
		z-index: 1;
	}

	&__title {
		margin-bottom: calc(var(--margin-2) - 18px);

	}

	&__description {
		font-size: 16px;
		// line-height: 32px;
		margin-bottom: calc(var(--margin) * 3);

		@media (min-width: $breakpoint-small) {
			font-size: 18px;	
			line-height: 32px;
		}
	}

	&__files {
		margin-bottom: var(--margin-2);

	}

	&__file {
		position: relative;
		padding-left: calc(24px + var(--gutter-small));
		background-image: url("data:image/svg+xml,%3Csvg id='ic_download' xmlns='http://www.w3.org/2000/svg' width='24' height='32' viewBox='0 0 24 32'%3E%3Cpath id='Path_2646' data-name='Path 2646' d='M0,0,14.031.047l9.953,9.969L24,32H0Z' fill='%23439ee8'/%3E%3Cpath id='Path_2644' data-name='Path 2644' d='M0,0,10,10H0Z' transform='translate(14)' fill='%230074d3'/%3E%3Cg id='Group_3221' data-name='Group 3221' transform='translate(-71 -597.5)'%3E%3Cg id='Group_3220' data-name='Group 3220' transform='translate(0.234)'%3E%3Cline id='Line_23' data-name='Line 23' x2='4.75' transform='translate(79.766 618.125) rotate(45)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='1.5'/%3E%3Cline id='Line_24' data-name='Line 24' x2='4.75' transform='translate(86.484 618.125) rotate(135)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='1.5'/%3E%3C/g%3E%3Cline id='Line_25' data-name='Line 25' y1='9' transform='translate(83.4 611.5)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='1.5'/%3E%3C/g%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-position: left 3px;
		background-size: 24px 32px;

		&-name {

		}

		&-size {
			font-size: var(--text-small);
			font-family: Roboto, sans-serif;
			color: rgba(0,0,0,0.4);
		}
	}


	&__image-wrap {
		height: 100%;
		position: relative;
	}

	&__image {
		
    position: absolute;
    height: 100%;
    overflow: hidden;

		& img {
			padding-top: 56px;
			height: 100%;
			width: 100%;
			object-fit: contain;
			object-position:bottom;
		}
	}

	&__items-wrap {
		// margin-top: var(--margin-3);
		margin-bottom: var(--margin-3);
	}


	&__items-list {
		list-style-type:none;
		padding: 0;
	}


	&__item {
		$item-padding: 28px;
		background:var(--color-light);
		padding: $item-padding;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: var(--margin);

		@media (min-width: $breakpoint-small) {
			flex-wrap:nowrap;
		}


		&-props {
			order: 1;
			flex: 1 0 50%;
			display:flex;
			flex-direction:column;
			justify-content: flex-end;

			@media (min-width: $breakpoint-small) {
				order:0;
				flex: 0 0 20%;
				padding-right: var(--gutter);
				justify-content: space-between;
			}
		}

		&-type {
			text-transform: uppercase;
			flex: 0 0 auto;
			font-family: Roboto, sans-serif;
			font-size: 10px;
			color: rgba(0,0,0,0.6);
			

			@media (min-width: $breakpoint-small) {
				font-size: var(--text-small);
				margin-bottom: 6px;
			}
		}

		&-id {
			font-family: 'Roboto Condensed',sans-serif;
			font-weight: 700;
			font-size: var(--font-size);
			line-height: 1.375;
			flex: 0 0 auto;
			margin-bottom: 2px;

			@media (min-width: $breakpoint-small) {
				flex: 1 0 auto;
				font-size: $base-h3-font-size;
				line-height: 1.2;
				margin-bottom: 0;
			}
		}

		&-skmtr {
			flex: 0 0 auto;
			font-family: Roboto, sans-serif;
			font-size: 10px;
			color: rgba(0,0,0,0.6);
			letter-spacing: 0.05em;
			text-transform: uppercase;
			margin-bottom: -7px;

			@media (min-width: $breakpoint-small) {
				font-size: var(--text-small);
			}

		}

		&-name {
			flex: 1 0 100%;
			margin-bottom: var(--margin);
			font-size: var(--text-small);

			@media (min-width: $breakpoint-small) {
				margin-bottom:0;
				flex: 1 1 50%;
				font-size: var(--text-large);
				padding-right: var(--gutter);
			}

			& a {
				color: var(--color-black);
				text-decoration-color: rgba(0,116,211, 0.0);
				transition: all var(--transition);
			}
			& a:hover {
				color:var(--color-accent);
				text-decoration: underline;
				text-decoration-color: rgba(0,116,211, 0.2);
			}
		}

		&-image {
			flex: 0 0 50%;
			margin: $item-padding * -1;
			mix-blend-mode: multiply;
			order: 3;

			@media (min-width: $breakpoint-small) {
				flex: 0 0 30%;

			}

			& img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: bottom right;


				@media (min-width: $breakpoint-small) {
					max-height: 160px;
				}
			}
		}
	}


	&__sidebar {
		margin-bottom: 50px !important;
	}

	&__filter {
		margin-bottom: 36px;
	}

	&__sidebar-panel {
		padding: 28px 24px 32px 24px;
		box-shadow: var(--box-shadow);
	}

	&__sections {
		list-style-type:none;
		padding: 0;
	}

	&__footer {
		margin-top: var(--margin-3);
		margin-bottom: var(--margin-3);
	}
}


.filter {

	&__items {
		margin-bottom: 2px;

		@media (min-width: $breakpoint-medium) {
			margin-bottom: var(--margin-m);
		}


	}

	&__item {
		background: var(--color-light);
	}

	&__name {
		padding: var(--gutter-medium) var(--gutter-large);
		font-size: 18px;
		line-height: 24px;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 700;

		&:before {
			content: '\e903';
			font-family: icomoon;
			font-weight: normal;
			transition: transform var(--transition);
			text-align: center;

			.uk-open > & {
				transform: rotate(180deg);
			}
		}

		@media (min-width: $breakpoint-medium) {
			padding: var(--gutter-medium) var(--margin-m);
		}
	}
	&__params {
		padding: 0 var(--gutter-large) var(--gutter-large) var(--gutter-large);

		@media (min-width: $breakpoint-medium) {
			padding: 0 var(--gutter-medium) var(--margin-m) var(--gutter-medium);
		}
	}

	&__param-row {
		margin-bottom: 15px;
	}

	&__param {
		position: relative;
    padding-left: 25px;
    display:block;

		&:hover {
			cursor: pointer;
		}

		& input {
			position: absolute;
			left: 0;
			border-radius: 2px;
			background: var(--color-white);

			&:checked {
				border:none;
			}
		}
	}

	&__apply {
		margin-bottom: 18px;
	}

	&__row {
		background: var(--color-light);
		padding: var(--gutter-medium) var(--gutter-large);
	}
	

}