<% var data = {
	title: "Заголовок | Проект",
	author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>


<main class="page page--index">

	<div class="slideshow-main swiper-container">
			<div class="swiper-wrapper">
					<div class="slideshow-main__item slideshow__item--main swiper-slide"><img src="../../assets/slide-01.jpg" alt=""></div>
					<div class="slideshow-main__item slideshow__item--main swiper-slide"><img src="../../assets/slide-01.jpg" alt=""></div>
					<div class="slideshow-main__item slideshow__item--main swiper-slide"><img src="../../assets/slide-01.jpg" alt=""></div>
			</div>

			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>

	</div>

	<!-- <div class="slideshow slideshow--main">
		<div class="uk-position-relative" tabindex="-1" uk-slideshow="ratio:false">

				<ul class="slideshow__items--main uk-slideshow-items">
						<li class="slideshow__item slideshow__item--main">
							<img src="../../assets/slide-01.jpg" alt="" uk-cover>
						</li>
						<li class="slideshow__item slideshow__item--main">
							<img src="../../assets/slide-01.jpg" alt="" uk-cover>
						</li>
						<li class="slideshow__item slideshow__item--main">
							<img src="../../assets/slide-01.jpg" alt="" uk-cover>
						</li>
				</ul>

		</div>
	</div> -->

	<div class="content uk-container">

		<div class="index-banners__grid uk-child-width-1-2@m" uk-grid>
			<div class="index-banners__grid-column">
				<div class="index-banners"  uk-grid>
					<div class="uk-width-1-1">

								<div class="index-banners__slideshow">
									<div class="slideshow slideshow-banner swiper-container">
											<div class="index-banners__slideshow-items swiper-wrapper">
													<div class="slideshow-banner__item swiper-slide">
														<figure class="index-banner index-banner--first">
															<div class="index-banner__bg"></div>
															<figcaption class="index-banner__content">
																<div class="index-banner__top">Транс Сигнал</div>
																<a href="" class="index-banner__title index-banner__title--black uk-h2">Производитель светотехнического и электронного железнодорожного оборудования</a>
																<div class="index-banner__readmore"></div>
																<a href="#" class="uk-position-cover"></a>
															</figcaption>
														</figure>
													</div>
													<div class="slideshow-banner__item swiper-slide">
														<figure class="index-banner index-banner--first">
															<div class="index-banner__bg"></div>
															<figcaption class="index-banner__content">
																<div class="index-banner__top">Транс Сигнал</div>
																<a href="" class="index-banner__title index-banner__title--black uk-h2">Lorem ipsum dolor sit.</a>
																<div class="index-banner__readmore"></div>
																<a href="#" class="uk-position-cover"></a>
															</figcaption>
														</figure>
													</div>
													<div class="slideshow-banner__item swiper-slide">
															<figure class="index-banner index-banner--first">
																<div class="index-banner__bg"></div>
																<figcaption class="index-banner__content">
																	<div class="index-banner__top">Транс Сигнал</div>
																	<a href="" class="index-banner__title index-banner__title--black uk-h2">Lorem ipsum dolor.</a>
																	<div class="index-banner__readmore"></div>
																	<a href="#" class="uk-position-cover"></a>
																</figcaption>
															</figure>
													</div>
											</div>

											<div class="slideshow-banner__nav">
												<div class="swiper-button-prev slideshow__nav slideshow__nav_left"></div>
												<div class="swiper-button-next slideshow__nav slideshow__nav_right"></div>
											</div>

									</div>

									<!-- <div class="uk-position-relative" tabindex="-1" uk-slideshow="ratio:false">

											<ul class="index-banners__slideshow-items uk-slideshow-items">
													<li>
														<figure class="index-banner index-banner--first">
															<div class="index-banner__bg"></div>
															<figcaption class="index-banner__content">
																<div class="index-banner__top">Транс Сигнал</div>
																<a href="" class="index-banner__title index-banner__title--black uk-h2">Производитель светотехнического и электронного железнодорожного оборудования</a>
																<div class="index-banner__readmore"></div>
																<a href="#" class="uk-position-cover"></a>
															</figcaption>
														</figure>
													</li>
													<li>
														<figure class="index-banner index-banner--first">
															<div class="index-banner__bg"></div>
															<figcaption class="index-banner__content">
																<div class="index-banner__top">Транс Сигнал</div>
																<a href="" class="index-banner__title index-banner__title--black uk-h2">Производитель светотехнического и электронного железнодорожного оборудования</a>
																<div class="index-banner__readmore"></div>
																<a href="#" class="uk-position-cover"></a>
															</figcaption>
														</figure>
													</li>
													<li>
														<figure class="index-banner index-banner--first">
															<div class="index-banner__bg"></div>
															<figcaption class="index-banner__content">
																<div class="index-banner__top">Транс Сигнал</div>
																<a href="" class="index-banner__title index-banner__title--black uk-h2">Производитель светотехнического и электронного железнодорожного оборудования</a>
																<div class="index-banner__readmore"></div>
																<a href="#" class="uk-position-cover"></a>
															</figcaption>
														</figure>
													</li>

											</ul>

									</div> -->
								</div>

					</div>
					<div class="uk-width-1-2@s uk-width-1-1@m">
						<figure class="index-banner ">
							<div class="index-banner__bg"><img src="../../assets/slide-01.jpg" alt=""></div>
							<figcaption class="index-banner__content">
								<a href="" class="index-banner__title uk-h2">Производитель светотехнического и электронного железнодорожного оборудования</a>
								<div class="index-banner__readmore index-banner__readmore--text">Подробнее</div>
								<a href="#" class="uk-position-cover"></a>
							</figcaption>
						</figure>
					</div>

				</div>
			</div>

			<div class="index-banners__grid-column">
				<div class="index-banners" uk-grid>
					<div class="uk-width-1-2@s uk-width-1-1@m">
						<figure class="index-banner ">
							<div class="index-banner__bg"><img src="../../assets/slide-01.jpg" alt=""></div>
							<figcaption class="index-banner__content">
								<a href="" class="index-banner__title uk-h2">Производитель светотехнического и электронного железнодорожного оборудования</a>
								<div class="index-banner__readmore index-banner__readmore--text">Подробнее</div>
								<a href="#" class="uk-position-cover"></a>
							</figcaption>
						</figure>
					</div>
					<div class="uk-width-1-2@s">
						<figure class="index-banner index-banner--small">
							<div class="index-banner__bg"><img src="../../assets/slide-01.jpg" alt=""></div>
							<figcaption class="index-banner__content">
								<a href="" class="index-banner__title uk-h2">Метрополитенам</a>
								<div class="index-banner__readmore index-banner__readmore--text">Подробнее</div>
								<a href="#" class="uk-position-cover"></a>
							</figcaption>
						</figure>
					</div>
					<div class="uk-width-1-2@s">
						<figure class="index-banner index-banner--small">
							<div class="index-banner__bg"><img src="../../assets/slide-01.jpg" alt=""></div>
							<figcaption class="index-banner__content">
								<a href="" class="index-banner__title uk-h2">Подвижному составу</a>
								<div class="index-banner__readmore index-banner__readmore--text">Подробнее</div>
								<a href="#" class="uk-position-cover"></a>
							</figcaption>
						</figure>
					</div>
				</div>
			</div>

		</div>

		<div class="competence">
			<h1>Мощности и компетенции</h1>
			<div class="competence__list uk-child-width-1-4@s" uk-grid>
				<div class="competence__item">
					<div class="competence__item-number">3000+</div>
					<div class="competence__item-text">Производственные площади цехов</div>
				</div>
				<div class="competence__item">
					<div class="competence__item-number">3000+</div>
					<div class="competence__item-text">Производственные площади цехов</div>
				</div>
				<div class="competence__item">
					<div class="competence__item-number">3000+</div>
					<div class="competence__item-text">Производственные площади цехов</div>
				</div>
				<div class="competence__item">
					<div class="competence__item-number">3000+</div>
					<div class="competence__item-text">Производственные площади цехов</div>
				</div>
			</div>
			<div class="competence__content">
				<div class="competence__content-text"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque totam quas sapiente expedita, voluptatum earum, vero odit perferendis vitae repudiandae nobis odio quos. Accusamus libero non vel eos dolor totam.</p>
					<p><a class="link--readmore" href="">Подробнее о производстве</a></p></div>
				<div class="competence__content-image"></div>
			</div>
		</div>

		<div class="news news_index">
			<div class="news__title title">
				<h2 class="title__title">Новости компании</h2>
				<a href="" class="news__readmore title__side">Все новости</a>
			</div>
			<ul class="news__list uk-child-width-1-3@m uk-child-width-1-2@s" uk-grid>
				<li>
					<div class="news-teaser">
						<div class="news-teaser__date">20 августа 2019 — Деловые мероприятия</div>
						<h3 class="news-teaser__title">Lorem ipsum dolor sit.</h3>
						<div class="news-teaser__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
					</div>
				</li>

				<li>
					<div class="news-teaser">
						<div class="news-teaser__date">20 августа 2019 — Деловые мероприятия</div>
						<h3 class="news-teaser__title">Lorem ipsum dolor sit.</h3>
						<div class="news-teaser__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
					</div>
				</li>

				<li>
					<div class="news-teaser">
						<div class="news-teaser__date">20 августа 2019 — Деловые мероприятия</div>
						<h3 class="news-teaser__title">Lorem ipsum dolor sit.</h3>
						<div class="news-teaser__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
					</div>
				</li>

			</ul>
		</div>

		<div class="clients clients--index">
			<div class="clients__title title">
				<h2 class="title__title">Наши клиенты</h2>
			</div>

			<div class="clients__slider uk-position-relative" tabindex="-1" uk-slider>

					<div class="uk-slider-container">
						<ul class="clients__list uk-slider-items uk-child-width-1-2 uk-child-width-1-4@s uk-child-width-1-6@m">
							<li>
									<div class="client__item">
										<div class="client__image"><img src="" alt=""></div>
										<div class="client__name">ГУП «Московский метрополитен»</div>
									</div>
							</li>
							<li>
									<div class="client__item">
										<div class="client__image"><img src="" alt=""></div>
										<div class="client__name">ГУП «Московский метрополитен»</div>
									</div>
							</li>
							<li>
									<div class="client__item">
										<div class="client__image"><img src="" alt=""></div>
										<div class="client__name">ГУП «Московский метрополитен»</div>
									</div>
							</li>
							<li>
									<div class="client__item">
										<div class="client__image"><img src="" alt=""></div>
										<div class="client__name">ГУП «Московский метрополитен»</div>
									</div>
							</li>
							<li>
									<div class="client__item">
										<div class="client__image"><img src="" alt=""></div>
										<div class="client__name">ГУП «Московский метрополитен»</div>
									</div>
							</li>
							<li>
									<div class="client__item">
										<div class="client__image"><img src="" alt=""></div>
										<div class="client__name">ГУП «Московский метрополитен»</div>
									</div>
							</li>
							<li>
									<div class="client__item">
										<div class="client__image"><img src="" alt=""></div>
										<div class="client__name">ГУП «Московский метрополитен»</div>
									</div>
							</li>

						</ul>
					</div>

					<div class="clients__nav">
						<a class="  " href="#" uk-slidenav-previous uk-slider-item="previous"></a>
						<a class="  " href="#" uk-slidenav-next uk-slider-item="next"></a>
					</div>

			</div>


		</div>

	</div> <!-- uk-container -->
</main>

<%= _.template(require('./../includes/footer.html'))(data) %>


